@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap" rel="stylesheet');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background: black;
  font-family: 'Overpass', sans-serif;
}

@media only screen and (max-width: 480px) {
  html,body {
    width: 110%;
    height: 110%;
    margin: 0;
    overflow-x: hidden;
  }
}